#weatherBox {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 25px;
}

#weatherDetail {
    color: white;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.536);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 10;
    padding: 30px;
    position: relative;
}

#weatherIcon {
    position: absolute;
    right: 30px;
    top: 10px;
}

#humidity {
    position: absolute;
    right: 30px;
    top: 100px;
}

#todayTemp {
    font-size: 60px;
}

#tempRange>div {
    font-size: 15px;
    font-weight: initial;
}


#otherDayBox {
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    height: 230px;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 20px;
}

#otherDayBox>div {
    padding: 30px;
}