#kbPayEventBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#kbPayEventBox h2 {
    margin-bottom: 40px;
    padding: 10px;
}

#kbPayEventBox img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    cursor: pointer;
}