#naverPayEventBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#naverPayEventBox h2 {
    margin-bottom: 40px;
    padding: 10px;
}

#naverPayEventBox img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    cursor: pointer;
}