* {
    margin: 0;
    box-sizing: border-box;
}

/* ======================================= */

#annTopBox {
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px;
    margin-left: 20px;
}

#annTopBox>h3 {
    font-size: 34px;
}

#annTopBox label {
    font-size: initial;
}

/* ================================================= */

#announceBoard {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-bottom: 14px;
}

#announceBoard>form {
    position: absolute;
    bottom: calc(100% + 15px);
    right: 20px;

}

#announceBoard>form>input {
    width: 220px;
    height: 30px;
    text-indent: 5px;
}

#announceBoard>form>select {
    width: 80px;
    height: 30px;
    text-indent: 5px;
}


#announceBoard>form>button {
    background-color: #ffffff00;
    position: absolute;
    right: 5px;
    font-size: 20px;
    color: #9B1B20;
    cursor: pointer;
}

#announceBoard>div {
    display: flex;
    line-height: 55px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.316);
}

#announceBoard>div:nth-of-type(1) {
    line-height: 60px;
    background-color: #9B1B20;
    color: white;
    font-size: 22px;
    border-radius: 20px 20px 0 0;
}

#announceBoard>div:nth-of-type(n+2):nth-of-type(-n+3) {
    background-color: #9b1b1f0e;
}

#announceBoard>div:nth-of-type(n+2):nth-of-type(-n+3) div>img {
    width: 40%;
    line-height: 60px;
    vertical-align: middle;
}


.latestAnnounce {
    font-size: 12px;
    text-indent: 10px;
    color: #9B1B20;
}

#announceBoard>div>div:nth-of-type(1) {
    width: 80px;
}

#announceBoard>div>div:nth-of-type(2) {
    width: 80px;
}

#announceBoard>div>div:nth-of-type(3) {
    width: calc(100% - 80px - 80px - 150px - 150px - 80px);
}

#announceBoard>div>div:nth-of-type(4) {
    width: 150px;
}

#announceBoard>div>div:nth-of-type(5) {
    width: 150px;
}

#announceBoard>div>div:nth-of-type(6) {
    width: 80px;
}
.selectAskBox_Row{
    cursor: pointer;
}
.selectAskBox_Row:hover{
    background-color: #ffe7e8;
}